page-drawing {

  canvas {
    //removes gap between the 3 stacked canvases
    display: block;
    margin-top: -2px;
    margin-bottom: -2px;
    background-color: white;

  }

  #home {
    position: fixed;
    top: 0;
    right: 0;
  }

  #brush {
    position: fixed;
    top: 60px;
    right: 0;
  }


  #undo {
    position: fixed;
    top: 120px;
    right: 0;
  }


  #redo {
    position: fixed;
    top: 180px;
    right: 0;
  }


  #help {
    position: fixed;
    top: 240px;
    right: 0;
  }


  #finished {
    position: fixed;
    bottom: 0;
    right: 0;
  }


  #overlap{
    position: absolute;
    top: 0;
    right:10%;

  }
#myCanvas{
    position: fixed;
    top: 10%;
    right:10%;

  }


}
