page-drawing {
  canvas {
    //removes gap between the 3 stacked canvases
    display: block;
    margin-top: -2px;
    margin-bottom: -2px;
  }

  #home{
    position: fixed;
    top: 0;
    left: 90%;
  }

  #brush{
    position: fixed;
    top: 60px;
    left: 90%;
  }

  #undo{
    position: fixed;
    top: 120px;
    left: 90%;
  }

  #redo{
    position: fixed;
    top: 180px;
    left: 90%;
  }

  #finished{
    position: fixed;
    bottom: 0;
    left: 90%;
    right: 100%;
  }

  //#myCanvas{
//     position: fixed;
//     top:0;
//     bottom: 0;
//     left:0;
//     width: 90%;
//   }
//
// #overlap{
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 90%;
// }
}
