page-home {
  .bg-image {
          background-image: url("../assets/imgs/colloodle-3.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          z-index: -1;

  }

  #passAround{
    position:fixed;
    width: 60%;
    left: 20%;
    bottom:150px;
  }
  #random{
    position:fixed;
    width: 60%;
    left: 20%;
    bottom:90px;
  }
  #myGroups{
    position: fixed;
    width: 60%;
    left: 20%;
    bottom:30px;
  }
  #info{
    position: fixed;
    right: 0%;
    top: 10%;
  }
}
