<!--
  Made with some help from tutorial:
  https://medium.com/appseed-io/integrating-firebase-password-and-google-authentication-into-your-ionic-3-app-2421cee32db9
-->

<ion-header>
  <ion-navbar>
    <!--ion-title center>
      Colloodle
    </ion-title-->
    <ion-list-header *ngIf="auth.getEmail()">{{auth.getEmail()}}</ion-list-header>

    <ion-item (click)="logout()" *ngIf="auth.authenticated">
    	<ion-icon name="log-out" item-left></ion-icon>
    	Log out
    </ion-item>

    <ion-item (click)="login()" *ngIf="!auth.authenticated">
    	<ion-icon name="log-in" item-left></ion-icon>
    	Log in
    </ion-item>


    <!-- <ion-item (click)="login()" *ngIf="!auth.authenticated">
    	<ion-icon name="log-in" item-left></ion-icon>
    	Log in
    </ion-item> -->
  </ion-navbar>
</ion-header>

<style>
ion-header {
text-align: center;
}
</style>
<ion-content  padding class="bg-image">
<!--ion-content no-bounce-->
    <!--canvas-draw></canvas-draw-->
    <ion-footer>
      <p>
       <button ion-button (click)="goToDrawingPage('pass-around')" color="light" round outline large>Pass Around!</button>
       <button ion-button (click)="goToDrawingPage('random')" color="light" round outline large>Random!</button>
     </p>
   </ion-footer>
<!--/ion-content-->
</ion-content>

<style>
ion-content {
text-align: center;
}
</style>

<!--ion-content padding>

</ion-content-->
