page-home {
  .bg-image {
          background-image: url("../assets/imgs/colloodle-4.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          z-index: -1;

  }

  #loginLabel{
    height:10%;
  }
  #Doodle{
    position:fixed;
    width: 60%;
    left: 20%;
    bottom:95px;
  }
  #Gallery{
    position: fixed;
    width: 60%;
    left: 20%;
    bottom:30px;
  }

 #Gallery-badge {
    position: fixed;
    left: 72%;
    right: 18%;
    bottom: 70px;
    border-radius: 100%;
  }

  #info{
    position: fixed;
    top: 0%;
    right:0%
  }
}
