<!--
  Generated template for the GroupsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>

  <ion-navbar>
    <ion-title>My Groups</ion-title>
  </ion-navbar>
  <div padding>
    <ion-segment [(ngModel)]="drawings">
      <ion-segment-button value="Completed" (click)="setThumnails('Completed')" isActive='Completed'>
        Completed
      </ion-segment-button>
      <ion-segment-button value="In Progress" (click)="setThumnails('InProgress')">
        In Progress
      </ion-segment-button>
    </ion-segment>
  </div>

</ion-header>


<ion-content padding>

  <div [ngSwitch]="drawings">
    <ion-list *ngSwitchCase="'Completed'">
        <ion-grid>
          <ion-row>
            <ion-col col-4 col-md-2 col-xl-2 *ngFor="let group of this.groupManager.completed.slice().reverse()">
              <ion-card  large clear (click)="this.viewGroupDrawing(group['group'])">
                <img id="{{group['group']}}" style="border:1px solid #009691">
             </ion-card>
           </ion-col>
         </ion-row>
       </ion-grid>
   </ion-list>

  <!--    <ion-item *ngFor="let group of this.groupManager.completed">
         <ion-thumbnail item-start>
           <img id="{{group['group']}}" style="border:1px solid #009691">
        </ion-thumbnail>
        <h2>{{this.getSectionName(group['section'])}}</h2>
          <button ion-button clear item-end (click)="this.viewGroupDrawing(group['group'])">View</button>
          <button ion-button icon-only clear item-end (click)="this.groupManager.deleteGroup(group['group'])">
            <ion-icon name="trash"></ion-icon>
          </button>
      </ion-item>
    </ion-list>
    -->


  <ion-list *ngSwitchCase="'In Progress'">
      <ion-grid>
        <ion-row>
          <ion-col col-4 col-md-2 col-xl-2 *ngFor="let group of this.groupManager.inProgress">
            <ion-card  large clear (click)="this.viewGroupDrawing(group['group'])">
              <img id="{{group['group']}}" style="border:1px solid #009691">
           </ion-card>
         </ion-col>
       </ion-row>
     </ion-grid>
  </ion-list>
  </div>

</ion-content>
