<!-- <script id="my-popover.html">
<ion-popover-view id="ion-popover-view"> -->
<!-- <ion-content id="align-format"> -->
<ion-list>
  <ion-item>
    <h2 *ngIf="!this.brushService.eraserClicked" ion-text [style.color]="dark">Brush Options <ion-icon [style.color]="this.brushService.styleColor" name="brush"></ion-icon></h2>
    <h2 *ngIf="this.brushService.eraserClicked" ion-text [style.color]="dark">Brush Options <ion-icon [style.color]="dark" name="square-outline"></ion-icon></h2>
    <button ion-button icon-only (click)="this.close()" item-right color="dark" clear>
      <ion-icon name="close" align="right"></ion-icon>
    </button>
  </ion-item>
  <button *ngFor="let color of this.brushService.availableColors" icon-only ion-button clear (click)="this.brushService.changePaint(color)">
      <ion-icon [style.color]="color" name="square"></ion-icon>
  </button>
  <button *ngIf="this.brushService.eraserClicked" ion-button outline small (click)="this.brushService.changeToEraser()">Eraser</button>
  <button *ngIf="!this.brushService.eraserClicked" ion-button outline small color="dark" (click)="this.brushService.changeToEraser()">Eraser</button>
  <ion-item>
    <ion-range min="1" max="100" [style.color]="dark" [(ngModel)]="this.brushService.size" (ionChange)="this.brushService.changeSize($event)">
      <ion-icon range-left style="font-size: 1em;" name="radio-button-on"></ion-icon>
      <ion-icon range-right style="font-size: 2em;" name="radio-button-on"></ion-icon>
    </ion-range>
  </ion-item>
</ion-list>
<!-- </ion-content> -->
<!-- </ion-popover-view>
</script> -->
