page-drawing-modes {

#passAround{
  position: relative;
  height: 40px;
  width:50%;
  left:25%;
  margin-bottom: 10px;
}

#random{
  position: relative;
  height: 40px;
  width:50%;
  left:25%;
  margin-bottom: 10px;
}

#friends{
  position: relative;
  height: 40px;
  width:50%;
  left:25%;
  margin-bottom: 10px;
}


}
