<!--
  Generated template for the DrawingModesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <!-- <ion-navbar color="primary" hideBackButton=true> -->
      <ion-item *ngIf="auth.getEmail()" left color="primary">
        {{auth.getEmail()}}
        <button ion-button icon-only color="secondary" clear style="float: right;" (click)="presentUserPopover($event)">
      	   <ion-icon name="person" right></ion-icon>
        </button>
        <button ion-button icon-only color="secondary" clear style="float: right;" (click)="goToHome()">
           <ion-icon name="home" right></ion-icon>
        </button>
      </ion-item>

      <ion-item (click)="login()" *ngIf="!auth.authenticated" color="primary">
        <ion-icon name="log-in" item-left></ion-icon>
        Log in
        <button ion-button icon-only color="secondary" clear style="float: right;" (click)="goToHome();$event.stopPropagation();">
          <ion-icon name="home" right></ion-icon>
        </button>
      </ion-item>
  <!-- </ion-navbar> -->
</ion-header>

<style>
  ion-header {
    text-align: center;
  }
</style>

<style>
  p {
    white-space: normal;
  }
</style>

<ion-content>
  <ion-list>
    <ion-item>
      Drawing Modes:
    </ion-item>
    <ion-item>
      <button ion-button (click)="goToPassAround()">Pass Around</button>
      <button ion-button icon-only clear item-right (click)="togglePassAroundDetails()" *ngIf="!passAroundDetailsVisible">
        <ion-icon name="arrow-down"></ion-icon>
      </button>
      <button ion-button icon-only clear item-right (click)="togglePassAroundDetails()" *ngIf="passAroundDetailsVisible">
        <ion-icon name="arrow-up"></ion-icon>
      </button>
      <p *ngIf="passAroundDetailsVisible">
        Draw the head, then torso, then legs, all on your own phone! Pass your
        phone around so friends can draw a section, or draw it all by yourself!
      </p>
    </ion-item>
    <ion-item>
      <button ion-button (click)="goToRandom()">Random</button>
      <button ion-button icon-only clear item-right (click)="toggleRandomDetails()" *ngIf="!randomDetailsVisible">
        <ion-icon name="arrow-down"></ion-icon>
      </button>
      <button ion-button icon-only clear item-right (click)="toggleRandomDetails()" *ngIf="randomDetailsVisible">
        <ion-icon name="arrow-up"></ion-icon>
      </button>
      <p *ngIf="randomDetailsVisible">
        Draw one piece of the drawing and other Colloodlers will draw the rest!
        You must be logged in and connected to the internet to use this mode.
      </p>
    </ion-item>
    <ion-item>
      <button ion-button (click)="goToFriends()">Friends</button>
      <button ion-button icon-only clear item-right (click)="toggleFriendsDetails()" *ngIf="!friendsDetailsVisible">
        <ion-icon name="arrow-down"></ion-icon>
      </button>
      <button ion-button icon-only clear item-right (click)="toggleFriendsDetails()" *ngIf="friendsDetailsVisible">
        <ion-icon name="arrow-up"></ion-icon>
      </button>
      <p *ngIf="friendsDetailsVisible">
        Draw one piece of the drawing and invite friends to draw the rest!
        You must be logged in and connected to the internet to use this mode.
      </p>
    </ion-item>
  </ion-list>
</ion-content>
